<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <!--在jQuery等框架里发起CORS请求的时候，虽然你写的可能是“GET”，但是现在的浏览器是会自动把这个GET先撸成OPTIONS去访问服务的，这也叫“preflight”请求。如果你的服务拒绝OPTIONS这个verb，你会得到一个405的结果（用fiddler就可以看到）-->
      <!--<remove name="OPTIONSVerbHandler"/>-->
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
